<!-- CONTACT -->
<div class="contact_content">
  <div class="about__title" id="contact">
    <h3>Contact</h3>
    <span>Get in touch</span>
  </div>
  <div class="contact-title">
    <span>Leave a message</span>
  </div>
  <div class="contact__conte">
    <div class="info-contact">
      <p>Kharkov Ukraine</p> <!-- Here is your city-->
      <a href="#">myMail@gmail.com</a> <!-- Here is your email-->
      <a href="#">+380 00 000 0000</a> <!-- Here is your phone-->
      <div class="contact-social">
        <a title="facebook" href="#"><i class="fab fa-facebook-f"></i></a>
        <a title="twitter" href="#"><i class="fab fa-twitter"></i></a>
        <a title="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
        <a title="instagram" href="#"><i class="fab fa-instagram"></i></a>
        <a title="dribbble" href="#"><i class="fab fa-dribbble"></i></a>
      </div>
    </div>
    <div class="contact-form">
      <form name="MyForm" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-name">
          <input type="text" id="name" name="Name" placeholder="Enter your name" ngModel required>
        </div>
        <div class="form-email">
          <input type="email" id="email" name="Email" placeholder="Enter your email" ngModel required>
        </div>
        <div class="form-textarea">
          <textarea name="text_comment" id="text_comment" placeholder="How can I help you?" ngModel  required></textarea>
        </div>
        <div class="btn__send">
          <button type="submit" id="btn_submit" name="done" [disabled]="!f.valid" ><span>Send</span></button>
        </div>
      </form>
      <div id="winError"></div>
    </div>
  </div>
</div>
<!-- /CONTACT -->
<app-footer></app-footer>
