<!-- REVIEWS -->
<div class="feedback_content">
  <div class="feedback_container">
    <owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide> <div>
    <figure>
      <img src="./../../../assets/images/face.jpg" alt="user">
      <div class="name">Mary Brown</div>
      <div class="comment">Dolor facilis veritatis doloremque dicta eos Voluptate earum nulla ad et esse Saepe asperiores nisi facere ipsam corporis. Dolorem praesentium tenetur tempore dolorem illum autem? Veritatis fuga quasi sunt tenetur. Expedita id eaque incidunt beatae nesciunt! In similique exercitationem tempore excepturi placeat Nostrum ducimus dicta temporibus quas!</div>
    </figure>
  </div></ng-template>
  <ng-template carouselSlide>
    <div>
      <figure>
        <img src="./../../../assets/images/face.jpg" alt="user">
        <div class="name">Mary Brown</div>
        <div class="comment">Dolor facilis veritatis doloremque dicta eos Voluptate earum nulla ad et esse Saepe asperiores nisi facere ipsam corporis. Dolorem praesentium tenetur tempore dolorem illum autem? Veritatis fuga quasi sunt tenetur. Expedita id eaque incidunt beatae nesciunt! In similique exercitationem tempore excepturi placeat Nostrum ducimus dicta temporibus quas!</div>
      </figure>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div>
      <figure>
        <img src="./../../../assets/images/face.jpg" alt="user">
        <div class="name">Mary Brown</div>
        <div class="comment">Dolor facilis veritatis doloremque dicta eos Voluptate earum nulla ad et esse Saepe asperiores nisi facere ipsam corporis. Dolorem praesentium tenetur tempore dolorem illum autem? Veritatis fuga quasi sunt tenetur. Expedita id eaque incidunt beatae nesciunt! In similique exercitationem tempore excepturi placeat Nostrum ducimus dicta temporibus quas!</div>
      </figure>
    </div>
  </ng-template>
</owl-carousel-o>
  </div>
</div>
<!-- /REVIEWS -->
