<!-- SERVICES -->
<div class="services__content">
  <div class="about__title" id="services">
    <h3>Services</h3>
    <span>What i do</span>
  </div>
  <div class="services_items">
    <div class="service_iner">
      <div class="service-title">
        <div class="service_icon">
          <img src="assets/images/003-menu.svg" alt="service_icon">
        </div>
        <span>UX</span>
      </div>
      <div class="service-subTitle">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Ipsum has been the. </p>
      </div>
    </div>
    <div class="service_iner">
      <div class="service-title">
        <div class="service_icon">
          <img src="assets/images/004-layout.svg" alt="service_icon">
        </div>
        <span>DESIGN</span>
      </div>
      <div class="service-subTitle">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Ipsum has been the. </p>
      </div>
    </div>
    <div class="service_iner">
      <div class="service-title">
        <div class="service_icon">
          <img src="assets/images/001-code.svg" alt="service_icon">
        </div>
        <span>CODING</span>
      </div>
      <div class="service-subTitle">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Ipsum has been the. </p>
      </div>
    </div>
    <div class="service_iner">
      <div class="service-title">
        <div class="service_icon">
          <img src="assets/images/006-comment.svg" alt="service_icon">
        </div>
        <span>SOCIAL</span>
      </div>
      <div class="service-subTitle">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Ipsum has been the. </p>
      </div>
    </div>
    <div class="service_iner">
      <div class="service-title">
        <div class="service_icon">
          <img src="assets/images/005-magnifying-glass.svg" alt="service_icon">
        </div>
        <span>SEO</span>
      </div>
      <div class="service-subTitle">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Ipsum has been the. </p>
      </div>
    </div>
    <div class="service_iner">
      <div class="service-title">
        <div class="service_icon">
          <img src="assets/images/002-pie-chart.svg" alt="service_icon">
        </div>
        <span>COMMERCE</span>
      </div>
      <div class="service-subTitle">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has Ipsum has been the. </p>
      </div>
    </div>
  </div>
</div>
<!-- /SERVICES -->
<!-- COUNTERBOX -->
<div class="counter__content">
  <div class="counter" id="counter">
    <div class="bl">
      <div>
        <i class="fas fa-users"></i>
        <h4 >650</h4>
        <p>Happy Clients</p>
      </div>
    </div>
    <div class="bl">
      <div>
        <i class="fas fa-thumbs-up"></i>
        <h4 >635</h4>
        <p>Projects Completed</p>
      </div>
    </div>
    <div class="bl">
      <div>
        <i class="fas fa-terminal"></i>
        <h4>1250</h4>
        <p>Lines Of Code</p>
      </div>
    </div>
    <div class="bl">
      <div>
        <i class="fas fa-trophy"></i>
        <h4>420</h4>
        <p>Awards Achieved</p>
      </div>
    </div>
  </div>
</div>
<!-- /COUNTERBOX -->
